@media (max-width:767px) {

   

   h1{
    line-height: 2rem;
   }

   h2{
    line-height: 3.5rem;
   }

   h3{
    line-height: 5rem;
   }
   h5{
    line-height: 3rem;
   }

   .about-content{

      margin-top: 2rem;
      display: block;
      /* word-break: break-all; */
      /* word-wrap: break-word; */
      text-align: justify;

      /* width: 22.5rem; */
   }

   .card{
      min-height:fit-content !important;
      padding: 10px !important;
      margin: 0 !important;
      opacity: 1;
   }

   
  
  .card-content{
      
      /* word-wrap: break-word; */
      /* text-align: center ; */
      text-align: justify;
  }

  .card:hover{ 

   border: 2px solid;
   color: greenyellow !important;
   transform: scale(1.05);
}

  .contact{

      min-height: fit-content;
      
   
  }

   form{
      margin-top: 1px !important;
   }


.card-body{
   margin: 0 !important;
   
}

.submit-btn{
   margin-top: 20px;
}





    
}




@media (min-width:992px){
   .list-group-item{
      border: none;
   height: fit-content;

   }


   .top-section{
      height: 60px;
   }

   .sidebar{
      margin-left: auto;
   }

   
}




@media screen and (min-width: 768px) and (max-width: 790px) {

   .card-heading{
      font-size: 1.5rem;
      word-wrap: break-word;
   }
}